@model IEnumerable<SingHub.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Who i'm following</h2>

@foreach(var artist in Model)
{
    <li>@artist.Name</li>
}

